{% load widget_tweaks %}
<form method="post" action="">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Delete Fuel Bill</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete fuel bill from <strong>{{fuel.station}} on {{fuel.date|date:'d M Y'}}</strong> ?</p>
   
    </div>      
    <div class="modal-footer">
    <button type="submit" class="btn text-white" style="background-color:#e76f51;">Delete</button>
    </div>
</form>
