<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Update Fuel Bills{% endblock title %}

{% block content %}

<style>
    .typeahead, .tt-query, .tt-hint {
	font-size: 1rem; /* Set input font size */
	}
    .twitter-typeahead{
        padding: 0px !important;
        display: block !important;
        
    }
    .typeahead {
        background-color: #FFFFFF;
    }
    .typeahead:focus {
        border: 2px solid #0097CF;
    }
    .tt-query {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
    .tt-hint {
        color: #999999;
    }
    .tt-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 12px;
        padding: 8px 0;
        width: 422px;
    }
    .tt-suggestion {
        font-size: 16px;  /* Set suggestion dropdown font size */
        padding: 3px 20px;
    }
    .tt-suggestion:hover {
        cursor: pointer;
        background-color: #0097CF;
        color: #FFFFFF;
    }
    .tt-suggestion p {
        margin: 0;
    }
</style>

<div class="fade-in">
    <div class="row">
        <div class="col-6">
            <h4 class="mx-3 mt-2 mb-2 text-muted">Update Fuel Bill</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mx-3 mb-0">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id = 'message_container'>
                    <strong>{{ message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-12 col-md-9 mx-3 mb-0 mt-2">
        <div class="rounded p-3 mt-2" style="background-color:#e9ecef;">
            <p class="fs-5" style="color:#BA135D;">Bill Details</p>
            <form class="row g-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    {% if form.non_field_errors %}
                        <div class="alert alert-block alert-danger invalid">
                            {{form.non_field_errors}}
                        </div>
                    {% endif %}
                </fieldset>    
                
                <div class="col-md-4">    
                    <label for="{{form.date.id_for_label}}" class="form-label"><strong>Date</strong></label>
                    {% if form.date.errors %}
                        {% render_field form.date class+='form-control is-invalid' %}
                        {% for error in form.date.errors %}
                            <div class="invalid-feedback">
                                <strong>{{error}}</strong>
                            </div>
                        {% endfor %}
                    {% else %} 
                        {% render_field form.date class+='form-control' %}
                    {% endif %}
                </div>

                <div class="col-md-4">    
                    <label for="{{form.vehicle_number.id_for_label}}" class="form-label"><strong>Vehicle Number</strong></label>
                    {% if form.vehicle_number.errors %}
                        {% render_field form.vehicle_number class+='form-control is-invalid select2_widget' %}
                        {% for error in form.vehicle_number.errors %}
                            <div class="invalid-feedback">
                                <strong>{{error}}</strong>
                            </div>
                        {% endfor %}
                    {% else %} 
                        {% render_field form.vehicle_number class+='form-control select2_widget' %}
                    {% endif %}
                </div>

                <div class="col-md-4">    
                    <label for="{{form.driver.id_for_label}}" class="form-label"><strong>Driver</strong></label>
                    {% if form.driver.errors %}
                        {% render_field form.driver class+='form-control is-invalid select2_widget' %}
                        {% for error in form.driver.errors %}
                            <div class="invalid-feedback">
                                <strong>{{error}}</strong>
                            </div>
                        {% endfor %}
                    {% else %} 
                        {% render_field form.driver class+='form-control select2_widget' %}
                    {% endif %}
                </div>

                <div class="col-md-4">    
                    <label for="{{form.station.id_for_label}}" class="form-label"><strong>Bunk Name</strong></label>
                    {% if form.station.errors %}
                        {% render_field form.station class+='form-control is-invalid' %}
                        {% for error in form.station.errors %}
                            <div class="invalid-feedback">
                                <strong>{{error}}</strong>
                            </div>
                        {% endfor %}
                    {% else %} 
                        {% render_field form.station class+='form-control' %}
                    {% endif %}
                </div>
                
                <div class="col-md-4">    
                    <label for="{{form.quantity.id_for_label}}" class="form-label"><strong>Quantity</strong></label>
                    {% if form.quantity.errors %}
                        {% render_field form.quantity class+='form-control is-invalid' placeholder+='Litres' %}
                        {% for error in form.quantity.errors %}
                            <div class="invalid-feedback">
                                <strong>{{error}}</strong>
                            </div>
                        {% endfor %}
                    {% else %} 
                        {% render_field form.quantity class+='form-control' placeholder+='Litres' %}
                    {% endif %}
                </div>

                <div class="col-md-4">    
                    <label for="{{form.rate.id_for_label}}" class="form-label"><strong>Rate per Litre</strong></label>
                    {% if form.rate.errors %}
                        {% render_field form.rate class+='form-control is-invalid' placeholder+='Rs' %}
                        {% for error in form.rate.errors %}
                            <div class="invalid-feedback">
                                <strong>{{error}}</strong>
                            </div>
                        {% endfor %}
                    {% else %} 
                        {% render_field form.rate class+='form-control' placeholder+='Rs' %}
                    {% endif %}
                </div>
                <div class="col-md-8">    
                    <label for="{{form.bill.id_for_label}}" class="form-label"><strong>Invoice Proof</strong></label>
                    <br>
                    {% if form.bill.errors %}
                        {% render_field form.bill class+='form-control is-invalid'%}
                        {% for error in form.bill.errors %}
                            <div class="invalid-feedback">
                                <strong>{{error}}</strong>
                            </div>
                        {% endfor %}
                    {% else %} 
                        {% render_field form.bill class+='form-control'%}
                    {% endif %}
                </div>

                <div class="col-md-4">    
                    <label for="{{form.amount.id_for_label}}" class="form-label"><strong>Total Amount</strong></label>
                    {% if form.amount.errors %}
                        {% render_field form.amount class+='form-control is-invalid' placeholder+='Rs' %}
                        {% for error in form.amount.errors %}
                            <div class="invalid-feedback">
                                <strong>{{error}}</strong>
                            </div>
                        {% endfor %}
                    {% else %} 
                        {% render_field form.amount class+='form-control' placeholder+='Rs' %}
                    {% endif %}
                </div>

                <div class="d-flex flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary" style="width:10%;padding:5px;">Update</button>
                </div>    
            </form>
        </div>    
    </div>
</div>

{% endblock content %}

{% block customjs %}

<script>
    function typeahead_initialize(){
        var station_names = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: "{% url 'station_autocomplete' %}",
                ttl: 5,
            }
        });
        station_names.initialize();
        
        $('.AutoComplete').typeahead({
            hint:true,
            highlight: true,
            minLength:1
        }, {
            name: 'station_names',
            source: station_names
        }).on('.AutoComplete:selected', function(obj, value){
        });    
    }
</script>

<script>
    $(document).ready(function() {
        typeahead_initialize();

        $('#bill-clear_id').prev('a').addClass('mx-3');
        $('#bill-clear_id').addClass('form-check-input mx-3');
        
        $('#id_quantity').on('change', function(){
            $('#id_amount').val(
                $('#id_quantity').val() * $('#id_rate').val()
            );
        });

        $('#id_rate').on('change', function(){
            $('#id_amount').val(
                $('#id_quantity').val() * $('#id_rate').val()
            );
        });
    });
</script>
{% endblock customjs %}