{% extends 'base.html' %}
{% block title %}Completed Trips{% endblock title %}

{% block content %}

<div class="row mt-1">
    <div class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a type="button" class="btn btn-light mx-2" href="{% url 'ongoing_trip_list' %}" style="border:1px solid black;">On-Going Trips</a>
            </li>
            <li class="nav-item">
                <a type="button" class="btn btn-warning mx-2"  aria-current="page" href="{% url 'completed_trip_list' %}">Completed Trips</a>
            </li>
            <li class="nav-item">
                <a type="button" class="btn btn-light mx-2" href="{% url 'trip_create' %}" style="border:1px solid black;">Log New Trip</a>
            </li>
            <li class="nav-item">
                <a type="button" class="btn btn-light mx-2" href="{% url 'trip_pending' %}" style="border:1px solid black;">Close Trip</a>
            </li>
        </ul>
    </div>    
    <div class="col-12 mx-2">
        <hr style="height:2px;">
    </div>
</div>    

<div class="fade-in">
    <div class="row">
        <div class="col-6 mx-2 mb-1">
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert" id="message_container">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 mx-2 my-0 align-middle">
            <input type="search" placeholder="Search..." class="form-control search-input my-1" data-table="trip-list"/ style="float:right;width:300px;margin-left:auto;">  
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12 mx-2">
            <table class="table table-hover caption-top rounded trip-list">
                <caption class="fs-3">COMPLETED TRIPS</caption>
                <thead class="text-grey" style="background-color:#ade8f4">
                    <tr>
                        <th scope="col"class="align-middle">Trip ID</th>
                        <th scope="col"class="text-center align-middle">Start Date</th>
                        <th scope="col"class="text-center align-middle">Completed Date</th>
                        <th scope="col"class="text-center align-middle">Source</th>
                        <th scope="col"class="text-center align-middle">Destination</th>
                        <th scope="col"class="text-center align-middle">Vehicle</th>
                        <th scope="col"class="text-center align-middle">Driver</th>
                        <th scope="col"class="text-center align-middle">Product</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in trip_list %}
                    <tr>
                        <td class="align-middle">{{item.trip_id}}</td>
                        <td class="text-center align-middle">{{item.start_date|date:'d M Y'}}</td>
                        <td class="text-center align-middle">{{item.end_date|date:'d M Y'}}</td>
                        <td class="text-center align-middle">{{item.customer.name}}</td>
                        <td class="text-center align-middle">{{item.destination.name}}</td>
                        <td class="text-center align-middle">{{item.vehicle_number.vehicle_number}}</td>
                        <td class="text-center align-middle">{{item.driver.full_name}}</td>
                        <td class="text-center align-middle">{{item.product}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block customjs %}
<script>
    var message_ele = document.getElementById("message_container");
    setTimeout(function(){
        message_ele.style.display = "none";
    }, 6000);
</script>

<script>
    (function(document) {
        'use strict';

        var TableFilter = (function(myArray) {
            var search_input;

            function _onInputSearch(e) {
                search_input = e.target;
                var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                myArray.forEach.call(tables, function(table) {
                    myArray.forEach.call(table.tBodies, function(tbody) {
                        myArray.forEach.call(tbody.rows, function(row) {
                            var text_content = row.textContent.toLowerCase();
                            var search_val = search_input.value.toLowerCase();
                            row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                        });
                    });
                });
            }

            return {
                init: function() {
                    var inputs = document.getElementsByClassName('search-input');
                    myArray.forEach.call(inputs, function(input) {
                        input.oninput = _onInputSearch;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function() {
            if (document.readyState === 'complete') {
                TableFilter.init();
            }
        });

    })(document);
</script>

{% endblock customjs %}



