{% extends 'base.html' %}
{% block title %}Tyre Details{% endblock title %}

{% block content %}
<div class="modal fade" id="wheel-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content"></div>
    </div>
</div>
<div class="fade-in">
    <div class="row mx-3 mb-3 mt-3">
        {% comment %} <h4 class="">LIST OF CUSTOMERS</h4> {% endcomment %}
    </div>
    
    <div class="row">
        <div class="col-6 mx-3 mb-1">
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert" id="message_container">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-11 mx-3 my-0 align-middle">
            {% if wheel_list|length == 0 %}
                <a href="{% url 'wheel_create' vehicle_number.pk %}" type="button" class="btn btn-success btn-sm my-3" style="float:left;">Add Tyre Details</a>
            {% else %}
                <a href="{% url 'wheel_edit' vehicle_number.pk %}" type="button" class="btn btn-primary btn-sm my-3" style="float:left;">Edit Tyre Details</a>
            {% endif %}
            <input type="search" placeholder="Search..." class="form-control search-input my-3" data-table="tyre-list"/ style="float:right;width:300px;margin-left:auto;">  
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-11 mx-3">
            <table class="table table-hover caption-top rounded tyre-list">
                <caption class="fs-3">Tyre Details for Vehicle - {{vehicle_number.vehicle_number}}</caption>
                <thead class="text-grey" style="background-color:#9CB4CC">
                    <tr>
                        <th scope="col"class="align-middle">Tyre Serial Number</th>
                        <th scope="col"class="text-center align-middle">Installation Date</th>
                        <th scope="col"class="text-center align-middle">Total Running Life</th>
                        <th scope="col"class="text-center align-middle">Total Usage</th>
                        <th scope="col"class="text-center align-middle">Remaining Life</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in wheel_list %}
                    <tr>
                        <td class="align-middle">{{item.serial_number}}</td>
                        <td class="text-center align-middle">{{item.purchase_date|date:'d M Y'}}</td>
                        <td class="text-center align-middle">{{item.running_life|floatformat:0}} Kms</td>
                        <td class="text-center align-middle">{{item.usage|floatformat:0}} Kms</td>
                        
                        {% if item.remaining_life > 0 %}
                            {% if item.remaining_life_percentage > 75 %}
                                <td class="text-center align-middle">
                                    <span class="badge rounded-pill bg-success">{{item.remaining_life}} Kms</span>
                                    <span class="badge rounded-pill bg-success">{{item.remaining_life_percentage|floatformat:1}} %</span>
                                </td>
                            {% else %}
                                {% if item.remaining_life_percentage > 25 and item.remaining_life_percentage <= 75 %}
                                    <td class="text-center align-middle">
                                        <span class="badge rounded-pill bg-info">{{item.remaining_life}} Kms</span>
                                        <span class="badge rounded-pill bg-info">{{item.remaining_life_percentage}} %</span>
                                    </td>
                                {% else %}
                                    <td class="text-center align-middle">
                                        <span class="badge rounded-pill bg-danger">{{item.remaining_life}} Kms</span>
                                        <span class="badge rounded-pill bg-danger">{{item.remaining_life_percentage}} %</span>
                                    </td>
                                
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <td class="text-center align-middle">
                                <span class="badge rounded-pill bg-secondary">0 Kms</span>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block customjs %}
<script>
    $(function(){
        $(".bs-modal").each(function(){
            $(this).modalForm({
                formURL: $(this).data('form-url'),
                modalID: '#wheel-modal'
            });
        });
    });
</script>
<script>
    var message_ele = document.getElementById("message_container");
    setTimeout(function(){
        message_ele.style.display = "none";
    }, 6000);
</script>

<script>
    (function(document) {
        'use strict';

        var TableFilter = (function(myArray) {
            var search_input;

            function _onInputSearch(e) {
                search_input = e.target;
                var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                myArray.forEach.call(tables, function(table) {
                    myArray.forEach.call(table.tBodies, function(tbody) {
                        myArray.forEach.call(tbody.rows, function(row) {
                            var text_content = row.textContent.toLowerCase();
                            var search_val = search_input.value.toLowerCase();
                            row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                        });
                    });
                });
            }

            return {
                init: function() {
                    var inputs = document.getElementsByClassName('search-input');
                    myArray.forEach.call(inputs, function(input) {
                        input.oninput = _onInputSearch;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function() {
            if (document.readyState === 'complete') {
                TableFilter.init();
            }
        });

    })(document);
</script>

{% endblock customjs %}



